/* You can add global styles to this file, and also import other style files */
/* =========================================
   GLOBAL RESET
   ========================================= */

html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100%;

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;

  font-family:
    Arial,
    Helvetica,
    sans-serif;
}
